.upper-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    background-color: var(--redd);
    color: var(--dark-grey);
    border-radius: 25px;
    margin-top: 2%;
    font-size: 3rem;
    text-align: center;
    width: 30rem;
}

body{
    background-color: var(--bluue);
}